<div
  class="min-h-screen py-32 antialiased flex items-center justify-center bg-gray-100 p-4 sm:p-8"
>
  <div class="max-w-md w-full mx-auto p-8 bg-white shadow-lg rounded-xl">
    <h2
      class="bg-gradient-to-br from-black to-stone-500 bg-clip-text text-center font-display text-2xl md:text-4xl font-bold tracking-[0.02em] text-transparent drop-shadow-sm mb-6"
    >
      Ajueste clave Api Open AI
    </h2>
    <div class="space-y-4">
      <div class="flex flex-col">
        <label for="apiKey" class="mb-2 text-sm font-medium text-gray-700"
          >Clave Api:</label
        >
        <input
          #apiKeyInput
          type="text"
          id="apiKey"
          name="apiKey"
          class="border border-gray-300 rounded-full px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Introduce tu API Key"
          required
        />
      </div>
      <div class="botonesConfig">
        <button
          (click)="saveApiKey()"
          class="btn-hover inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground h-10 px-4 py-2 space-x-2 rounded-full border border-primary transition-colors hover:bg-black hover:text-white"
        >
          Salvar Api Key
        </button>
        <button
          (click)="deleteApiKey()"
          class="btn-hover inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground h-10 px-4 py-2 ml-3 space-x-2 rounded-full border border-primary transition-colors hover:bg-black hover:text-white"
        >
          Borrar Api Key
        </button>
      </div>
    </div>
    <!-- Indicador visual de API Key guardada -->
    <div
      *ngIf="isApiKeySaved"
      class="mt-4 flex items-center justify-left text-green-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 2a8 8 0 100 16 8 8 0 000-16zM8.636 9.707l-1.293-1.293a1 1 0 011.414-1.414l1.293 1.293 4.95-4.95a1 1 0 111.415 1.415l-5.657 5.657a1 1 0 01-1.415 0z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Calve Api salvada</span>
    </div>

    <!-- Video tutorial link -->
    <div class="mt-4 flex items-center justify-left text-blue-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 2a8 8 0 100 16 8 8 0 000-16zM8.636 9.707l-1.293-1.293a1 1 0 011.414-1.414l1.293 1.293 4.95-4.95a1 1 0 111.415 1.415l-5.657 5.657a1 1 0 01-1.415 0z"
          clip-rule="evenodd"
        />
      </svg>
      <a
        href="https://www.youtube.com/watch?v=gBSh9JI28UQ&ab_channel=LeonvanZyl"
        target="_blank"
        class="underline"
        >Aprende a generar tu propia clave Api</a
      >
    </div>
  </div>
</div>
