<main class="min-h-screen py-16 antialiased">
  <div class="flex flex-col items-center justify-center">
    <div class="z-10 max-w-3xl px-5 xl:px-0 text-left">
      <h1
        class="bg-gradient-to-br from-black to-stone-500 bg-clip-text text-left font-display text-5xl font-bold tracking-tight text-transparent drop-shadow-md md:text-7xl md:leading-[5rem]"
      >
        Manifiesto de PhoSon
      </h1>
      <p class="mt-6 text-lg text-gray-700 md:text-xl">
        Entendemos que la conexión entre imágenes y música va más allá de
        simples asociaciones; es una experiencia emocional profunda que puede
        transformar momentos cotidianos en recuerdos inolvidables. Nuestra
        aplicación utiliza inteligencia artificial para analizar tus fotos y
        encontrar la canción perfecta que resuena con el contenido visual,
        creando una sincronización emocional única y sorprendente.
      </p>

      <section class="mt-12 bg-white shadow-lg rounded-lg p-6 md:p-12">
        <h2 class="text-3xl font-semibold text-gray-800 mb-6">
          La Ciencia detrás de PhoSon
        </h2>
        <ul class="space-y-6">
          <li>
            <h3 class="text-xl font-bold text-gray-900 mb-2">
              Sincronización Emocional
            </h3>
            <p class="text-gray-700">
              La sincronización entre estímulos visuales y auditivos puede
              amplificar la intensidad emocional de una experiencia.
              Investigaciones en neurociencia cognitiva han demostrado que la
              alineación inesperada de la música con las imágenes puede generar
              una respuesta emocional más fuerte. Este fenómeno se basa en la
              teoría del "efecto de sincronía", donde la coherencia entre los
              sentidos intensifica la experiencia emocional (Huron, D. [2006].
              <a
                href="https://www.researchgate.net/publication/209436188_Sweet_Anticipation_Music_and_the_Psychology_of_Expectation"
                target="_blank"
                class="text-blue-500 hover:underline"
              >
                <i
                  >Sweet Anticipation: Music and the Psychology of
                  Expectation</i
                > </a
              >).
            </p>
          </li>
          <li>
            <h3 class="text-xl font-bold text-gray-900 mb-2">
              El Poder de la Sorpresa
            </h3>
            <p class="text-gray-700">
              La sorpresa juega un papel crucial en la amplificación de las
              emociones. Cuando una canción se ajusta de manera perfecta e
              inesperada a lo que estás viendo, activa áreas del cerebro
              relacionadas con la recompensa y la dopamina, intensificando la
              respuesta emocional. Este principio está respaldado por estudios
              sobre la influencia de la sorpresa en las emociones (Kringelbach,
              M. L., & Rolls, E. T. [2004].
              <a
                href="https://www.oxcns.org/papers/356_Kringelbach+Rolls04.pdf"
                target="_blank"
                class="text-blue-500 hover:underline"
              >
                <i
                  >The functional neuroanatomy of the human sense of taste</i
                > </a
              >).
            </p>
          </li>
          <li>
            <h3 class="text-xl font-bold text-gray-900 mb-2">
              Experiencia Multisensorial
            </h3>
            <p class="text-gray-700">
              La combinación de música y imágenes crea una experiencia
              multisensorial que activa el sistema límbico, particularmente la
              amígdala, que regula las emociones. Esta integración
              multisensorial enriquece la experiencia y profundiza el impacto
              emocional (.
              <a
                href="https://pubmed.ncbi.nlm.nih.gov/23754373/"
                target="_blank"
                class="text-blue-500 hover:underline"
              >
                <i
                  >Zatorre RJ, Salimpoor VN. From perception to pleasure: music
                  and its neural substrates. Proc Natl Acad Sci U S A. 2013 Jun
                  18;110 Suppl 2(Suppl 2):10430-7. doi: 10.1073/pnas.1301228110.
                  Epub 2013 Jun 10. PMID: 23754373; PMCID: PMC3690607</i
                > </a
              >).
            </p>
          </li>
        </ul>
      </section>

      <section class="mt-12 bg-gray-200 p-6 rounded-lg">
        <h2 class="text-3xl font-semibold text-gray-800 mb-6">Misión</h2>
        <p class="text-lg text-gray-700">
          Nuestra misión es enriquecer tu vida emocional al proporcionar una
          experiencia única donde la tecnología y la creatividad se encuentran.
          Cada canción seleccionada para tus fotos está diseñada para resonar
          profundamente con el contenido visual, creando una experiencia
          emocionalmente intensa que transforma tus recuerdos en momentos
          memorables.
        </p>
        <p class="mt-4 text-lg text-gray-700">
          Únete a nosotros en este viaje de exploración emocional y descubre
          cómo la música puede transformar cada imagen en una experiencia
          profundamente conectada y sorprendente.
        </p>
      </section>
    </div>
  </div>
</main>
