<div id="intro-container">
  <div class="flex flex-col items-center justify-center pt-32 antialiased">
    <div class="z-10 max-w-5xl">
      <h1
        class="bg-gradient-to-br from-black to-stone-500 bg-clip-text text-center font-display text-4xl font-bold tracking-[0.02em] text-transparent drop-shadow-sm md:text-7xl md:leading-[5rem] p-2 md:p-4"
      >
        Ok! Tienes muchas fotos, pero ¿A qué suenan?
      </h1>
      <p class="p-4 md:py-8 text-base md:text-3xl text-center text-gray-500">
        PhotoSong utiliza inteligencia artificial para analizar tus fotografías
        y crear un match musical de tus mejores momentos. ¡Ahora, tu galería,
        suena!
      </p>
      <div class="flex justify-center">
        <button
          id="btnPlayAndHideBtn"
          class="ml-0 btn-hover inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground h-10 px-8 py-2 mt-2 mb-4 space-x-2 rounded-full border border-primary transition-colors hover:bg-black hover:text-white"
          (click)="startAnimation()"
          (click)="hideButton()"
        >
          <span class="text-muted-foreground font-semibold"> 🎶 Play 🎶 </span>
        </button>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center bg-gray-0">
    <div class="slider">
      <div class="slide-track" #slideTrack>
        <!-- Iteración con *ngFor - Original -->
        <div
          class="slide p-4 flex items-center justify-center"
          *ngFor="let image of images"
        >
          <div
            (mouseenter)="playAudio(image.audioSrc)"
            (mouseleave)="pauseAudio()"
            class="border rounded-lg overflow-hidden shadow-lg transform transition-transform hover:scale-110 relative"
          >
            <!-- Imagen -->
            <img
              [src]="image.src"
              class="h-64 w-96 object-cover rounded-lg"
              alt=""
            />
            <!-- Botón de ampliación de información, inicialmente oculto -->
            <button
              (click)="openModal(image)"
              class="info-button absolute bottom-4 right-4 bg-black text-white p-2 rounded-full opacity-0 transition-opacity duration-300 hover:opacity-100"
            >
              🔍
            </button>
          </div>
        </div>
        <!-- Fin de iteración - Original -->
        <!-- Iteración con *ngFor - Duplicado para transición suave -->
        <div
          class="slide p-4 flex items-center justify-center"
          *ngFor="let image of images"
        >
          <div
            (mouseenter)="playAudio(image.audioSrc)"
            (mouseleave)="pauseAudio()"
            class="border rounded-lg overflow-hidden shadow-lg transform transition-transform hover:scale-110 relative"
          >
            <!-- Imagen -->
            <img
              loading="lazy"
              [src]="image.src"
              class="h-64 w-96 object-cover rounded-lg"
              alt=""
            />
            <!-- Botón de ampliación de información, inicialmente oculto -->
            <button
              (click)="openModal(image)"
              class="info-button absolute bottom-4 right-4 bg-black text-white p-2 rounded-full opacity-0 transition-opacity duration-300 hover:opacity-100"
            >
              🔍
            </button>
          </div>
        </div>
        <!-- Fin de iteración - Duplicado -->
      </div>
    </div>
  </div>

  <!-- Capa de fondo para bloquear interacciones -->
  <div
    *ngIf="showModal"
    class="md:fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 p-4 sm:p-8"
  >
    <!-- Modal -->
    <div
      class="modal-sm relative z-50 bg-white max-w-5xl mx-auto rounded-lg shadow-lg overflow-hidden"
    >
      <!-- Contenido de la modal -->
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <!-- Sección de imagen -->
        <div class="bg-gray-200 p-2 flex items-center justify-center">
          <div
            class="border bg-card text-card-foreground shadow-sm flex aspect-square items-center justify-center overflow-hidden rounded-2xl"
          >
            <img
              alt="imagen de entrada"
              [src]="currentImageSrc"
              class="object-cover object-center w-full h-full"
              placeholder="placeholder.png"
            />
          </div>
        </div>
        <!-- Sección de información de la canción -->
        <div class="p-8 flex flex-col justify-center sm:text-sm md:text-base">
          <h3 class="text-lg mb-4 justify-left">
            La canción perfecta para la foto es:
          </h3>
          <h2 class="text-lg sm:text-xl md:text-2xl font-semibold mb-2 sm:mb-4">
            {{ titleSong }} de {{ authorSong }}
          </h2>
          <p class="scrollable-paragraph text-sm sm:text-base md:text-lg mb-4">
            {{ currentSong.description }}
          </p>
          <div class="flex justify-left mt-4">
            <p
              class="photoThanks text-sm sm:text-base md:text-lg mb-4 flex items-center"
            >
              Foto de {{ photoThanks }} en
              <a
                target="_blank"
                href="https://unsplash.com/es/"
                class="flex items-center ml-2 text-black hover:text-gray-700"
              >
                Unsplash
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="ml-1"
                >
                  <path
                    d="M10 9V0h12v9h9v23H1V9h9zm2 0h8V2h-8v7zm12 2v8h-7v7h-6v-7H6v-8H3v19h26V11h-5z"
                  />
                </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- Botón de cierre -->
      <button
        class="absolute top-3 right-3 focus:outline-none"
        (click)="closeModal()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-black bg-white rounded-lg m-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Reproductor de audio único en la vista principal -->
  <audio #audioPlayer class="hidden">
    Your browser does not support the audio element.
  </audio>
  <div
    id="intro-container"
    class="flex flex-col items-center justify-center pt-16 pb-32 antialiased"
  >
    <div class="z-10 max-w-5xl">
      <h1
        class="bg-gradient-to-br from-black to-stone-500 bg-clip-text text-center font-display text-4xl font-bold tracking-[0.02em] text-transparent drop-shadow-sm md:text-7xl md:leading-[5rem] p-2 md:p-4"
      >
        ¡Ahora tu!
      </h1>
      <div class="py-4 md:py-8 text-base md:text-3xl text-center text-gray-500">
        <button
          id="btnPlayAndHideBtn"
          [routerLink]="['/login']"
          class="ml-0 btn-hover inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground h-10 px-8 py-2 space-x-2 rounded-full border border-primary transition-colors hover:bg-black hover:text-white"
          (click)="startAnimation()"
          (click)="hideButton()"
        >
          <span class="text-muted-foreground font-semibold"> Login </span>
        </button>
      </div>
    </div>
  </div>
</div>
