<div class="flex flex-col items-center justify-center pt-16 antialiased">
  <div class="z-10 max-w-5xl">
    <h1
      class="bg-gradient-to-br from-black to-stone-500 bg-clip-text text-center font-display text-4xl font-bold tracking-[0.02em] text-transparent drop-shadow-sm md:text-7xl md:leading-[5rem] p-2 md:p-4"
    >
      Ok! Tienes muchas fotos, pero ¿A qué suenan?
    </h1>
    <p class="py-4 md:py-8 text-base md:text-3xl text-center text-gray-500">
      PhotoSong utiliza inteligencia artificial para analizar tus fotografías y
      crear una huella emocional de tus mejores momentos. ¡Ahora, tu galería de
      fotos, suena!🎶
    </p>
  </div>
</div>

<div class="flex items-center justify-center bg-gray-0">
  <div class="slider">
    <div class="slide-track">
      <!-- Iteración con *ngFor - Original -->
      <div
        class="slide p-4 flex items-center justify-center"
        *ngFor="let image of images"
      >
        <div
          (mouseenter)="playAudio()"
          (mouseleave)="pauseAudio()"
          class="border rounded-lg overflow-hidden shadow-lg transform transition-transform hover:scale-110 relative"
        >
          <!-- Imagen -->
          <img
            [src]="image.src"
            class="h-64 w-96 object-cover rounded-lg"
            alt=""
          />

          <!-- Audio asociado oculto -->
          <audio #audioPlayer [src]="image.audioSrc" class="hidden">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
      <!-- Fin de iteración - Original -->
      <!-- Iteración con *ngFor - Duplicado para transición suave -->
      <div
        class="slide p-4 flex items-center justify-center"
        *ngFor="let image of images"
      >
        <div
          (mouseenter)="playAudio()"
          (mouseleave)="pauseAudio()"
          class="border rounded-lg overflow-hidden shadow-lg transform transition-transform hover:scale-110 relative"
        >
          <!-- Imagen -->
          <img
            [src]="image.src"
            class="h-64 w-96 object-cover rounded-lg"
            alt=""
          />

          <!-- Audio asociado oculto -->
          <audio #audioPlayer [src]="image.audioSrc" class="hidden">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
      <!-- Fin de iteración - Duplicado -->
    </div>
  </div>
</div>
