<div
  class="fixed top-0 w-full border-b border-gray-200 bg-white/50 backdrop-blur-xl z-30 transition-all"
>
  <div
    class="mx-5 flex h-16 max-w-screen-xl items-center justify-between xl:mx-auto"
  >
    <a class="flex items-center font-display text-2xl" href="/"
      ><img src="logo.png" width="180" height="" class="mr-8" />
    </a>
    <div>
      <span
        class="relative flex shrink-0 overflow-hidden rounded-full size-9 cursor-pointer"
        type="button"
        id="radix-:rc:"
        aria-haspopup="menu"
        aria-expanded="false"
        data-state="closed"
        ><img
          class="aspect-square h-full w-full"
          alt="roberto.vetere@gmail.com"
          width="40"
          height="40"
          src="https://lh3.googleusercontent.com/a/ACg8ocJwJOdQ_V8-48j1go9HwA8l9sgs94WPecYyE7sD_By6sEmAhomR=s96-c"
      /></span>
    </div>
  </div>
</div>
